---
layout: not_homepage
quote: Programming is a social activity.
author: Robert C. Martin
---

{% include quote.html quote=page.quote author=page.author %}

<div class="container about_section">
  <div class="row">
    <img src="/assets/images/profile_picture.jpg" class="col m2 s3 responsive circle about_img" alt="me">
    <div class="about_paragraph">
      <p>
        I've always been passionate by computers.<br />
        When I've finished my bachelor, I was sure that I've made the right choice.<br />
        In my career, I've been working with so many inspiring people as other developers, architects and functional analysts.<br/>
        All these collaborations built my technicals and human skills.
        </p>
      <p>
        Finally, my main goal in programming is to build maintainable, robust, flexible and automatically tested softwares 🤓.
      </p>
    </div>
  </div>
  <h3 class="heading skills_heading center-align">Skills:</h3>
  <div class="skills_wrapper">
      {% for tech_group in site.data.skills %}
        <div class="skill_group">
          <div class="col m4 s6">
            <h4 class="heading">{{tech_group.name}}:</h4>
            <div class="skills">
              {% for tech in tech_group.skills %}
              <i class="about_skill_icon devicon-{{tech.class}}"></i><span class="skill_names">{{tech.skill_name}}</span><br/>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
  </div>
</div>
